{% extends 'templates/app.twig' %}

{% block content %}
{# main content for this page goes here #}

	<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							{# <p class="text-white link-nav"><a href="index-2.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p> #}
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->


			<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Royalty Iquinox Pvt. Ltd.</h3>
					<p class="sample-text">
						The challenge of bringing the world of work to new ground is that the road isn’t going to be paved. Royalty Iquinox is a place where every day is a new adventure. We follow the path of most resistance, because we’re hungry for the satisfaction of conquering a new challenge. The best way to do that is as a team. We know we’re all in this together. 
						<br>
						For over years Royalty Iquinox has been entirely focused on managing business risks to achieve fit-for-purpose outcomes.  As a trusted brand, we help ensure successful delivery and optimal performance.

Our culture and values are demonstrated through our people. Learning and development is key and from day one there will always be an opportunity for those who want to succeed.

					</p>
				</div>
			</section>
			<!-- End Sample Area -->	
            <div class="container">
			<div class="section-top-border">
						<h3 class="mb-30">Founder</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="img/elements/d.jpeg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<h3 class="mb-30">Syed Fareed Irfan</h3><p>Syed Fareed Irfan is the founder and director of Royalty Iquinox Private Limited.</p>

<p>Fareed graduated in the year (2015) - commerce, following Diploma in Civil (Architecture) &amp; Aviation (2013 - 2014). He has been honoured as the Young entrepreneurs of 2017 and also the Youth President (2014).</p>

<p>An enterpreneur at heart, Fareed's foray into the world of Business is a genetic touch. He has built an outstanding organization with exemplary values and ethos which are widely respected and admired in the industry. He strongly believes in team work ensuring that the Venture meets its strategy obligations.</p>

<p>Fareed is a philanthropist of repute. He has held various blood donation camps and other activities through which assistance of all kinds is given to needy people, particularly to the poor orphanages.</p>


 <p>Lastly, He stands strong and focused to take Royal Enterprise on a peak with flying colors.</p>
							</div>
						</div>
					</div>
					</div>

{% endblock %}