{% extends 'templates/app.twig' %}

{% block content %}
{# main content for this page goes here #}

<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Careers		
							</h1>	
							{# <p class="text-white link-nav"><a href="index-2.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="elements.html"> Elements</a></p> #}
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

            <!-- Start home-about Area -->
			<section class="home-about-area section-gap aboutus-about" id="about">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left">
							<h6>Join us on our mission to Transform the World Through Quality.</h6>
							<h1>
								Make a life,  <br>
								not just a living.
							</h1>
							<p class="sub">At Royalty Iquinox, we don’t just accept difference—we celebrate it, we support it, and we thrive on it for the benefit of our employees, our products, and our community. Royalty Iquinox is proud to be an equal opportunity workplace and is an affirmative action employer.</p>
							<p class="pb-20">
								We seek to hire individuals that thrive in a dynamic and entrepreneurial environment where innovation, risk and adaptability are part of your daily vocabulary. 
If this sounds like you, then mail your CV to - <b>info@royaltyiquinox.com</b> 
							</p>
							<a class="primary-btn" href="{{path_for('contact')}}">Contact Us</a>
						</div>
						
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

{% endblock %}