{% extends 'templates/app.twig' %}

{% block content %}
{# main content for this page goes here #}

<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Gallery		
							</h1>	
							{# <p class="text-white link-nav"><a href="index-2.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="elements.html">Gallery</a></p> #}
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

            <!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Where Businesses Thrive</h3>
					<p class="sample-text">
						Our story begins with our spaces, where dreamers and go-getters come together to manifest our mantra: Create Your Life’s Work. We’re crafting a world where personal success is defined by more than just a bottom line—and we’re well on our way. 
                        <br>We’re devoted to empowering global communities and building the best places to work, and that goes for our own teams too.
					</p>
				</div>
			</section>
			<!-- End Sample Area -->

            
            <div class="section-top-border">
            <div class="container">
            
						<div class="row gallery-item">
							<div class="col-md-4">
								<a href="img/elements/g1.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g1.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g2.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g2.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g3.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g3.jpg);"></div></a>
							</div>
							<div class="col-md-6">
								<a href="img/elements/g4.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g4.jpg);"></div></a>
							</div>
							<div class="col-md-6">
								<a href="img/elements/g5.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g5.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g6.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g6.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g7.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g7.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g8.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g8.jpg);"></div></a>
							</div>
						</div>
					</div>
            </div>
						

{% endblock %}