{% extends 'templates/app.twig' %}

{% block content %}
{# main content for this page goes here #}

<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Car Rentals				
							</h1>	
							{# <p class="text-white link-nav"><a href="index-2.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="projects.html"> Projects</a></p> #}
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				

			<!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text text-center">
							{# <h1 class="mb-10">Latest Finished Projects</h1> #}
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<a href="img/y1.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/y1.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="img/y2.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/y2.jpg" alt="">
							</a>	
						</div>						
						<div class="col-lg-6 col-md-6">
							<a href="img/y3.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/y3.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-6 col-md-6">
							<a href="img/y4.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/y4.jpg" alt="">
							</a>	
						</div>		
					</div>
				</div>	
			</section>
			<!-- End project Area -->

            <!-- Start Sample Area -->
			<section class="sample-text-area pt-0">
				<div class="container">
					{# <h3 class="text-heading">Text Sample</h3> #}
					<p class="sample-text">
						If you need transportation for your next family or business trip—or if you don’t own a car and just want to get out of town—we can help. We offers low prices on rental cars. Choose from a wide variety of vehicle options and rental locations, featuring at cheap prices. With us, you have flexibility when you reserve your next vehicle, which allows you to build in your own savings.

					</p>
				</div>
			</section>
			<!-- End Sample Area -->

{% endblock %}