{% extends 'templates/app.twig' %}

{% block content %}
{# main content for this page goes here #}

<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Interior Design &amp; Furnishing				
							</h1>	
							{# <p class="text-white link-nav"><a href="index-2.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="projects.html"> Projects</a></p> #}
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				

			<!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text text-center">
							{# <h1 class="mb-10">Latest Finished Projects</h1> #}
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<a href="img/p1.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p1.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="img/p2.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p2.jpg" alt="">
							</a>	
						</div>						
						<div class="col-lg-6 col-md-6">
							<a href="img/p3.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p3.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-6 col-md-6">
							<a href="img/p4.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/p4.jpg" alt="">
							</a>	
						</div>		
					</div>
				</div>	
			</section>
			<!-- End project Area -->

            <!-- Start Sample Area -->
			<section class="sample-text-area pt-0">
				<div class="container">
					{# <h3 class="text-heading">Text Sample</h3> #}
					<p class="sample-text">
						Whether you need to furnish your entire home or just redecorate a room, Royalty Iquinox offers professional design services to assist you. Our experienced interior designers have the expertise, resources and creativity to guide you through the process of space planning, color coordination, fabric and furnishing selection for your home. Let us transform your home into a comfortable and sophisticated living space, reflecting your personal taste. <br><br>
						 Technical expertise, tried-and-tested top quality materials, exceptional craftsmanship and trend setting designeering go into each of our projects. With utmost attention to details, compromises on perfection are never made. We aim at reinventing home ideas to suit every individuals need. Royalty Iquinox are made from a unique combination of aesthetics, precise engineering, traditional craftsmanship and contemporary designing.

					</p>
				</div>
			</section>
			<!-- End Sample Area -->

{% endblock %}