{% extends 'templates/app.twig' %}

{% block content %}
{# main content for this page goes here #}

<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Real Estate		
							</h1>	
							{# <p class="text-white link-nav"><a href="index-2.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="projects.html"> Projects</a></p> #}
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				

			<!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text text-center">
							{# <h1 class="mb-10">Latest Finished Projects</h1> #}
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<a href="img/r1.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/r1.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="img/r2.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/r2.jpg" alt="">
							</a>	
						</div>						
						<div class="col-lg-6 col-md-6">
							<a href="img/r3.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/r3.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-6 col-md-6">
							<a href="img/r4.jpg" class="img-gal">
								<img class="img-fluid single-project" src="img/r4.jpg" alt="">
							</a>	
						</div>		
					</div>
				</div>	
			</section>
			<!-- End project Area -->

            <!-- Start Sample Area -->
			<section class="sample-text-area pt-0">
				<div class="container">
					{# <h3 class="text-heading">Text Sample</h3> #}
					<p class="sample-text">
						Royalty Iquinox focuses on building aesthetically and structurally remarkable projects. A full service landholding development company that offers the best commercial properties and residential properties. Whether it’s for a prime residential property or a plotted development, Royalty Iquinox has the most fitting options for your dream home.

					</p>
				</div>
			</section>
			<!-- End Sample Area -->

{% endblock %}